.side-bar__wrapper{
    height: 93vh;
  }
  .content__wrapper {

    margin: 24px 16px;
    /*padding: 24px;*/
    padding: 10px 24px 24px 24px;
    background: #fff;
    min-height: 280px;

  }

  .content__header {
    background: #fff;
    padding: 0
  }

  .card__mapping {
    background: #ECECEC;
    padding: 30px;
  }
  .content__wrapper {
    min-height: unset;
  }
  .ant-layout-content{
    min-height: unset;
  }
  .ant-tag{
    cursor: pointer;
  }


.approve{
  color: white;
  background: #00800094;
}
.approve:hover{
   color: white;
   background: green;
   border: 1px solid green;
 }
.decline{
  color: white;
  background: #ff00006b;
}
.decline:hover{
  color: white;
  background: #ff0000d4;
  border: 1px solid red;
}




.add__user__button{
  margin-bottom: 0.7em;
  color: white;
  background: rgba(0, 128, 0, 0.45);


}
.add__user__button:hover{
  color: white;
  background: rgba(0, 128, 0, 0.84);
  border: 1px solid green;

}
